<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link href="/staticAuto/main.auto.css" rel="stylesheet">
</head>
<body>
<div id="root"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var profile = /*[[${profile}]]*/ {name: 'grzesiu'};
    window.name = profile.name;
    /*]]>*/
</script>
<script type="text/javascript" src="/staticAuto/main.auto.js"></script>
</body>
</html>